html,
body {
	padding: 0;
	margin: 0rem 10%;
	background: hsla(0, 0%, 95%, 1);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--primary: hsla(0, 0%, 18%, 1);
	--secondary: hsla(0, 0%, 33%, 1);
	--primary-text: hsla(0, 0%, 18%, 1);
	--secondary-text: hsla(0, 0%, 33%, 1);
}

h2 {
	font-size: 1.2rem;
	color: var(--primary-text);
}

h3 {
	font-size: 1rem;
	color: var(--secondary-text);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

p {
	line-height: 150%;
}
